.main {
   margin: auto;
  
   font-size: 1em;
   text-transform:uppercase;
 
}

.main_info {
     width: 50%;
     margin: 1em auto;
     text-transform:none;
   
}

@media only screen and (min-width: 768px) {
   .main_title {
      margin-top: 2em;
   }
}
