.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    height: 2.5rem;
    flex-direction: column;
    color: whitesmoke;
}

.footer_links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .5em;
}
.footer a {
    color: whitesmoke;
}

.footer_copy h6 {
    font-weight: lighter;
}

@media only screen and (min-width: 1200px) {
    .footer_links {
        justify-content: center;
    }
    .footer a {
       margin: 0 1em;
    }
}

